{% extends 'studypals/base.html' %}


{% block content %}

  <!-- {% if response %}
    <div>
      <ul>
      {% for i in response %}
        
          <li>
            <p>{{ i }}</p>
          </li>
        
      {% endfor %}
    </ul>
    </div>
  {% endif %} -->

  <!-- side bar -->
  <div class="sidebar">
    <button class="hide-sidebar">
      <span id="close-btn" class="material-symbols-rounded">close</span>
    </button>
    <div class="chatbot"></div>
    <ul class="list">
      <div class="chat">
        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4" height="1em" width="1em"  style="color: #CACCCE">
          <line x1="12" y1="5" x2="12" y2="19"></line>
          <line x1="5" y1="12" x2="19" y2="12"></line>
        </svg>
        <p>New Chat</p>
      </div>

      <!-- History Area -->

    </ul>
  </div>
  <!-- Chats container -->
  <div class="chat-block">
    <button class="show-sidebar">
      <span id="menu-btn" class="material-symbols-rounded">menu</span>
    </button>
    <div class="chat-container"></div>
    
    <!-- Typing container -->
    <div class="typing-container">
      <div class="typing-content">
        <div class="typing-textarea">
          <input id="chat-input" spellcheck="false" placeholder="Type In Your Message" required />
            <span id="send-btn" style="cursor: pointer;" class="material-symbols-rounded">send</span>
        </div>
      </div>
    </div>
  </div>



  <!-- <form action="{% url 'studypals:chat' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" class="btn btn-secondary">

  </form> -->

{% endblock content %}