<!DOCTYPE html>
{% load static %}
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>STUDY PAL</title>
    <link rel="stylesheet" href="{% static 'studypals/chat.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    

  </head>
  <body >
    <!-- side bar -->
    <div class="sidebar">
      <button class="hide-sidebar">
        <span id="close-btn" class="material-symbols-rounded">close</span>
      </button>
      <div class="chatbot"></div>
      <ul class="list">
        <div class="chat"><span id="chat-btn" class="material-symbols-rounded" class="chat-span">chat</span><p>New Chat</p></div>
        <div class="history"><span id="history-btn" class="material-symbols-rounded" class="history-span">history</span><p>Assist with user History.</p></div>
          <!-- <li class="exit"><img src="./image/user.png" alt="" width="30px">Profile</li>
          <li class="exit"><img src="./image/networking.png" alt="" width="30px">Department</li>
          <li class="exit"><img src="./image/book.png" alt="" width="30px">Courses</li>
          <li class="exit"><img src="./image/online-education.png" alt="" width="30px">Course Outline</li> -->
          <div class="Logout"><span id="Logout-btn" class="material-symbols-rounded" class="Logout-span">Logout</span><p><a href="./index.html">Log Out.</a></p></div>
          <hr>
      </ul>
  </div>
    <!-- Chats container -->
    <div class="chat-block">
      <button class="show-sidebar">
        <span id="menu-btn" class="material-symbols-rounded">menu</span>
      </button>
    <div class="chat-container">
    </div>
    
    <!-- Typing container -->
    <div class="typing-container">
          <div class="typing-content">
        <div class="typing-textarea">
          <input id="chat-input" spellcheck="false" placeholder="Type In Your Message" required />
            <span id="send-btn" style="cursor: pointer;" class="material-symbols-rounded">send</span>
        </div>
    </div>
  </div>
  </div>

  <script src="../../static/studypals/chat.js"></script>
  </body>
</html>