/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


/* body styling */
html, body {
  background-color: #17594a;
  color: gainsboro;
  width: 100%;
}

/* Sidebar styling */
.sidebar{
  position: fixed; 
  border: none;
  outline: none;
  width: 20%;
  display: inline-block;
  height: 99vh;
  background-image: linear-gradient(45deg, rgb(23, 89, 74), rgb(92, 168, 80));
  box-shadow: 3px 6px 10px black, 3px 6px 10px black  ;
  border-radius: 10px;
  cursor: pointer;
}
.show-sidebar{
  display: none;
  background-color: unset;
  outline: none;
  border: none;
  color: gainsboro;
}
.hide-sidebar{
  display: none;
  outline: none;
  border: none;
  position: absolute;
  top: 10px;
  right: -40px;
  background-color: transparent;
  color: gainsboro;
}

@media (max-width : 902px ) {
  .show-sidebar, .hide-sidebar{
    display: block;
  }
  .sidebar{
    width: 90%;
    max-width: 300px;
    z-index: 1;
    left: -100%;
  }
  .sidebar.show{
    left: 0;
  }
  .bot{
    width: 100% !important;
    left: 0 !important;
    height: 100vh;
  }
}

.sidebar .Logout{
  border: none;
  padding: 10px 10px;
  margin-top: 30%;
  text-align: center;
  border: 1px solid transparent;
  
}
.sidebar .Logout:hover{
  background-image: linear-gradient(45deg, rgb(23, 89, 74), rgb(92, 168, 80));
  border: 1px solid #5ca850;
}
.sidebar #Logout-btn{
    display: inline-block;
    vertical-align: bottom;
    padding-right: 10px;
    
}
.Logout p{
  display: inline;
  font-size: 0.9em;
}
.Logout a{
  text-decoration: none;
  color: gainsboro;
}
.sidebar .history{
  border: 1px solid transparent;
  padding: 10px 10px;
  margin-top: 30%;
  text-align: center;
}
.sidebar .history:hover{
  background-image: linear-gradient(45deg, rgb(23, 89, 74), rgb(92, 168, 80));
  border: 1px solid #5ca850;
}
.sidebar #history-btn{
    display: inline-block;
    vertical-align: bottom;
    padding-right: 10px;
}
.history p{
  display: inline;
  font-size: 0.9em;
}


.sidebar .Add{
  border: 1px solid #5ca850;
  padding: 10px 10px;
  margin-top: 3%;
  text-align: center;
  border-radius: 5px;
}
.sidebar .Add:hover{
  background-image: linear-gradient(45deg, rgb(23, 89, 74), rgb(92, 168, 80));
}

.sidebar #Add-btn{
    display: inline-block;
    vertical-align: bottom;
    padding-right: 10px;
    
}
.Add p{
  display: inline;
  font-size: 0.9em;
}

.sidebar hr{
  border: 1px solid #5ca850;
  width: 100%;
  margin-top: 12em;
 
} 


/* Chats area styling */
.bot{
  width: 70%;
  border: none;
  position: relative;
  left: 25%;
  height: 100vh;
  padding-top: -2%;
  border-radius: 10px;
  background-image: linear-gradient(45deg, rgb(23, 89, 74), rgb(92, 168, 80));
  overflow: hidden;
  
  
} 
/* Chats container styling */
.chat-container {
  overflow-y: auto;
  max-height: 100vh;
  padding-bottom:150px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  border-radius: inherit;
  
}

:where(.chat-container, textarea, body)::-webkit-scrollbar {
  width: 0;

  
}


.user-container{
  border: transparent;
  padding: 25px 10px;
  background-image: linear-gradient(45deg, rgb(23, 89, 74), rgb(92, 168, 80), );
  max-height: 100vh;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  
}
.chat-container img{
  width: 40px;
  height: 35px;
  border-radius: 2px;
  display: inline-block;
  vertical-align: bottom;
}
.chatbot-container{
  border: 1px solid  #5ca850;
  padding: 25px 10px;
  background-color:  #17594a ;
  max-height: 100vh;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  border-radius: 10px;
  
  
}
.chat-container p{
  font-size: 1.05rem;
  padding: 0 50px 0 25px;
  display: inline;
  white-space: pre-wrap;
  word-break: break-word;
} 

/* Typing container styling */
.typing-container {
  position: fixed;
  bottom: 0px;
  width: inherit;
  display: flex;
  padding: 20px 10px; 
  justify-content: center;
  border-top: 1px solid ;
  border: none;
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: linear-gradient(45deg, rgb(23, 89, 74), rgb(92, 168, 80));
  
}
 .typing-container .typing-content {
  display: flex;
  max-width: 950px;
  width: 100%;
  align-items: flex-end;
 
}
.typing-container .typing-textarea {
  width: 100%;
  display: flex;
  position: relative;
 
}
.typing-textarea input {
  height: 55px;
  width: 80%;
  border: none;
  padding: 15px 45px 15px 20px;
  font-size: 1rem;
  border-radius: 50px;
  max-height: 250px;
  background-color: #17594a;
  outline: none ;
  margin: 0 auto;
  color: gainsboro;
  
}
.typing-textarea input:hover{
  border: 1px solid #5ca850;;
  
}
.typing-textarea input::placeholder {
   color: gainsboro;
}
.typing-content span {
  width: 55px;
  height: 55px;
  display: flex;
  border-radius: 4px;
  font-size: 1.35rem;
  align-items: center;
  justify-content: center;
}
.typing-textarea span {
  position: absolute;
  right: 9%;
  bottom: 0;
   visibility: hidden; 
}
.typing-textarea input:valid ~ span {
  visibility: visible;
}
 

  
  