html {
    font-size: 62.5%;
    box-sizing: inherit;
  }
  
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
  }
  
  /* COLOR PALETTE */
  /* #17594a 
  #5ca850
  #f2ee9d
  #7a9d54
  gainsboro */
  
  /* ENDDDD */
  
body {
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    background-color: #17594a;
    width: 100%;
}
  
.nav__bar {
    margin: 1.5rem 5rem;
    display: flex;
    flex-direction: row-reverse;
    height: 7rem;
    border-bottom: 1px solid gainsboro;
    position: relative;
}
  
.nav__links {
    display: flex;
}
  
.nav__link,
.nav__link:link,
.nav__link:visited {
    margin: 0.5rem 1rem;
    height: 2rem;
    width: 2rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    display: block;
    width: inherit;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.5rem;
    color: gainsboro;
    transition: 0.3s;
    background-color: transparent;
    border: 1px solid gainsboro;
    border-radius: 5px;
    z-index: 10;
}
  
.nav__link:hover {
    background-image: linear-gradient(45deg, rgb(23, 89, 74), rgb(92, 168, 80));
    color: gainsboro;
    border: none;
    cursor: pointer;
}
.nav__logo {
    margin-right: auto;
    display: flex;
}
#icon {
    height: 8rem;
    width: 8rem;
    position: absolute;
    bottom: 3px;
}
#logo__text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: gainsboro;
    padding:1.5rem 1rem 0.5rem;
    font-size: 3rem;
    margin-left: 8rem;
}
.animate {
    -webkit-animation: animatezoom 1.5s;
    animation: animatezoom 1.5s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
 .block{
   position: relative;
   display: inline-block;
   width: 50%;
   height: 80vh;
   background-image: linear-gradient(45deg, rgb(23, 89, 74), rgb(92, 168, 80));
   border-bottom-right-radius: 60em;
   box-shadow: 3px 6px 10px black, 3px 6px 10px black;
   cursor: pointer;
}   
.block:before{
    content: '';
    position:absolute;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(71, 153, 104, 1);
    transition:0.5s;
    pointer-events: none;
 }
  
 .block:hover:before{
    transform: skewX(-5deg);
 }
.block p{
    text-align: center;
    font-weight: 900;
    position: relative;
    top: 40%;
    right: 10%;
    color: white;
    font-size: 4rem;

} 
.block:before, .block:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #17594a, #5ca850,  #f2ee9d, #7a9d54, #fff,  #17594a, #5ca850,  #f2ee9d, #7a9d54, #fff);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
    border-bottom-right-radius: 45em;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.block:after {
	filter: blur(50px);
}
.input{
   border:none;
   float: right;
   outline: none;
   position: relative;
   width: 30%;
   padding: 30px;
   border-radius: 20px;
   box-shadow: 3px 6px 10px black, 3px 6px 10px black  ;
   margin-top: 5%;
   margin-right: 5%;
   cursor: pointer;
   background-color:transparent;
}

.input form{
    position: relative;
    text-align: center;
}
.input form ::-webkit-input-placeholder{
    color: rgb(145, 145, 145);
    text-align: left;
}
.input form input[type=text]{
    padding: 15px;
    border: 0px solid;
    outline: 1px solid ;
    background-color: rgb(239, 239, 239);
    border: 0px solid;
    outline: 0px solid;
    border-radius: 10px;
    margin-top: 5%;
    width: 90%;
    box-shadow: 3px 6px 10px black ;
    
}
.input form input[type=password]{
    padding: 15px;
    border: 0px solid;
    outline: 1px solid ;
    background-color: rgb(239, 239, 239);
    border: 0px solid;
    outline: 0px solid;
    border-radius: 10px;
    margin-top: 5%;
    width: 90%;
    box-shadow: 3px 6px 10px black ;
    
}

.input form input[type=submit]{
    border: 1px solid gainsboro;
    outline: none;
    border-radius: 10px;
    padding: 15px;
    background-color:transparent;
    text-decoration: none;
    margin-top: 7%;
    padding: 10px;
    width: 50%;
    box-shadow: 3px 6px 10px black ;
    color: gainsboro;
    cursor: pointer;
}
.input form input[type=submit]:hover{
    background-image: linear-gradient(45deg, rgb(23, 89, 74), rgb(92, 168, 80));
    color: gainsboro;
    border: 1px solid gainsboro;
    cursor: pointer;
}
.input form p{
    text-align: center;
    text-decoration: none;
    margin-top: 7%;
    color: gainsboro;
}
.input form p a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color:#5ca850;
}
.input form p span{
    font-weight: 900;
}
.input form a:hover{
    color: #7a9d54;
}


/*---Media Queries --*/
@media (max-width: 992px) {       
.block{
    display:none;
}   
.input{
    position: relative;
    top: 100px;
    width: 50%;
    padding: 30px;
    cursor: pointer;
    margin: 0 auto; 
    float: none;
}
.input form input[type=submit]{
    width: 50%;
}
}


@media (max-width: 768px) {
    .header{
        background: black;
        cursor: pointer;
        width: 100%;
}
.block{
    display:none;
}   
.input{
    position: relative;
    top: 100px;
    width: 70%;
    padding: 30px;
    cursor: pointer;
    margin: 0 auto; 
    float: none;
   
}

}
@media (max-width: 576px) {

.block{
    display:none;
}   
.input{
    position: relative;
    top: 100px;
    width:70%;
    padding: 30px;
    cursor: pointer;
    margin: 0 auto; 
    float: none;
   
}
}


@media screen and (max-width: 480px) {
    .nav__content {
      margin: 0 auto;
    }
    .nav__bar {
      height: 5rem;
      border-bottom: 1px solid gainsboro;
      width: 100%;
      margin: -0.1rem;
    }
    .nav__link,
    .nav__link:link,
    .nav__link:visited {
      font-size: 1rem;
      padding: 0.8rem 1rem;
      height: 1rem;
      margin-top: 1rem;
    }
    #logo__text {
      margin-bottom: 1rem;
      margin-left: 5rem;
      font-size: 2rem;
    }
    #icon {
      height: 5rem;
      width: 5rem;
    }
  }
  
  @media (min-width: 481px) and (max-width: 700px) {
    .nav__content {
      margin: 0 auto;
    }
    .nav__bar {
      height: 5rem;
      border-bottom: 1px solid gainsboro;
      width: 100%;
      margin: -0.1rem;
    }
    .nav__link,
    .nav__link:link,
    .nav__link:visited {
      font-size: 1rem;
      padding: 0.8rem 1rem;
      height: 1rem;
      margin-top: 1rem;
    }
    #logo__text {
      margin-bottom: 1rem;
      margin-left: 5rem;
      font-size: 2rem;
    }
    #icon {
      height: 5rem;
      width: 5rem;
    }
  }
  @media (min-width: 701px) and (max-width: 850px) {
    .nav__content {
      margin: 0 auto;
    }
    .nav__bar {
      height: 5rem;
      border-bottom: 1px solid gainsboro;
      width: 100%;
      margin: -0.1rem;
    }
    .nav__link,
    .nav__link:link,
    .nav__link:visited {
      font-size: 1rem;
      padding: 0.8rem 1rem;
      height: 1rem;
      margin-top: 1rem;
    }
    #logo__text {
      margin-bottom: 1rem;
      margin-left: 5rem;
      font-size: 2rem;
    }
    #icon {
      height: 5rem;
      width: 5rem;
    }
  }
  
  @media (min-width: 851px) and (max-width: 1000px) {
    .nav__content {
      margin: 0 auto;
    }
    .nav__bar {
      height: 5rem;
      border-bottom: 1px solid gainsboro;
      width: 100%;
      margin: -0.1rem;
    }
    .nav__link,
    .nav__link:link,
    .nav__link:visited {
      font-size: 1rem;
      padding: 0.8rem 1rem;
      height: 1rem;
      margin-top: 1rem;
    }
    #logo__text {
      margin-bottom: 1rem;
      margin-left: 5rem;
      font-size: 2rem;
    }
    #icon {
      height: 5rem;
      width: 5rem;
    }
  }
  @media (min-width: 1001px) and (max-width: 1199px) {
    .nav__content {
      margin: 0 auto;
    }
    .nav__bar {
      height: 5rem;
      border-bottom: 1px solid gainsboro;
      width: 100%;
      margin: -0.1rem;
    }
    .nav__link,
    .nav__link:link,
    .nav__link:visited {
      font-size: 1rem;
      padding: 0.8rem 1rem;
      height: 1rem;
      margin-top: 1rem;
    }
    #logo__text {
      margin-bottom: 1rem;
      margin-left: 5rem;
      font-size: 2rem;
    }
    #icon {
      height: 5rem;
      width: 5rem;
    }

  }
  
  /* #393E46  #222831 #252B48 #2B2730  #20262e*/
  